* {
	font-family: "Source Sans Pro", sans-serif;
}

.jumbotron {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/gambar2.png);
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100%;
    margin-bottom: 0;
    border-radius: 0;
}

html, body {
    height: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7);
}
.tengah1{
	width: 100%;
	height: 500px;
	background-color: blue;
}
/* .tengah2{
	width: 100%;
	height: 500px;
	background: url("../testing.jpg");
	font-family: 'ubuntu', sans-serif;
	padding: 0;
	margin: 0;
	justify-content: center;
	display: flex;
	align-items: center;
	min-height: 100vh;
} */
/* .container{
	width: 1200px;
	height: auto;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 10px;
	padding: 10px;
	box-sizing: border-box;
}
.container .box {
	position: relative;
	background: white;
	padding: 100px 10px 50px;
	text-align: center;
	overflow: hidden;
	border-radius: 20px;

} */


.tengah3{
	width: 100%;
	height: 500px;
}

.icon {
	font-size: 100px; 
	padding-bottom: 10px;
}

.garis {
	text-align: center;
	width: 1000px;
	height: 10px;
	margin-left: 150px;
	border-top: solid 5px;
}
.tengah4{
	width: 100%;
	height: 600px;
	background: #fff;
	font-family: sans-serif;
}

.atas{
	margin-top: 30px;
	text-align: center;
}
.atas2{
	text-align: center;
}
.tombol {
	text-align: center;
	margin-top: 40px;

}
.btnku {
	border: 1px solid #3498db;
	background: #3498db;
	padding: 10px 40px;
	font-size: 20px;
	font-family: "montsserat";
	cursor: pointer;
	margin: 10px;
	transition: 0.8s;
	position: relative;
	overflow: hidden;


}
.btn1,.btn2{
	color:#fff;  
}
.btn1:hover,.btn2:hover{
	color: #3498db;
}
.btnku:hover {
	background: #fff;
}
.kepala{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 700px;
	background: #262626;
	display: flex;
	justify-content: center;
	font-family: 'poppins', sans-serif;
	background-size: cover;

}
.c{
	display: absolute;
	margin-top: 40px;
	margin-right: 50px;
	width: 300px;
	height: 400px;
	background: #262626;
	text-align: center;
	font-family: 'poppins', sans-serif;
}
.c h1 {
	font-family: 'poppins', sans-serif;
	font-size: 40px;
	color: white;
	display: inline-block;
}

.c h2 {
	margin-bottom:20px;
	color: white; 
}
.c p {
	color: white;

}

.btn-general {
	font-family: tahoma;
	border-radius: 20px;
	font-size: 22px;
	text-transform: uppercase;
	background-color: #f4c613;
	color: white;
	transition: all 0.4s;
	padding: 12px 46px 17px 46px;
	top: calc(50% - 80px);
}
.mobile{
	margin-top: 60px;
	position: relative;
	width: 270px;
	height: 480px;
	background: black;

}
.top{
	position: absolute;
	top: -50px;
	width: 100%;
	height: 50px;
	background: #efefef;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
}
.top:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translateY(-50%);
	width: 4px;
	height: 4px;
	background: #ccc;
	border: 2px solid #aaa;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #999;
}
.top:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 40px;
	height: 3px;
	background: #333;
	border: 2px solid #aaa;
	border-radius: 3px;
	
}
.bottom{
	position: absolute;
	bottom: -50px;
	width: 100%;
	height: 50px;
	background: #efefef;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px; 
}
.bottom{
	position: absolute;
	bottom: -50px;
	width: 100%;
	height: 50px;
	background: #efefef;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px; 
}
.bottom:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 15px;
	height: 15px;
	border: 2px solid #999;
	cursor: pointer; 
	border-radius: 6px;
	 
}
.screen
{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;

}
.screen img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 1;
	transition: 0.5s;
}
.screen.active img {
	opacity: 1;
}
.screen:before {
	content:'' ;
	position: absolute;
	top:0;
	left: -50%;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.1);
	z-index: 1;
	transform: skewX(-5deg);

}
.screen h2 {
	color: #fff;
	font-weight: 200;
	font-size: 3.5em;
	z-index: 1;
	transform: translateY(50px);
	line-height: 0.4em;
	transition: 0.5s;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	opacity: 0;
}
.screen h2 span {
	font-size: 0.4em;
}
.screen.active h2{
	transform: translateY(0px);
	opacity: 1;
	transition-delay: 0.5s;
}
.screen ul {
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: 0;
	display: flex;
	z-index: 1;
	justify-content: space-around;
	width: 100%;
}
.screen ul li {
	list-style: none;
	color: #fff;
	font-size: 1.5em;
	padding-bottom: 10px;
	cursor: pointer;
	transition: 0.5s;
	opacity: 0;
	transform: translateY(20px);
}